.advantages {
    margin-top: 30px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding: 30px;
        text-align: center;

        figcaption {
            margin-top: 20px;

            p {
                color: $text-color;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
}